.container-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  position: relative;
  overflow: hidden;
  margin: 10px auto;
  height: 400px;
  flex-direction: column;
}
.image-container {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.5s;
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-animation {
  opacity: 1;
}
.button-container {
  position: relative;
  display: flex;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
}
button {
  background-color: #b81515;
  padding: 7px;
  width: 100px;
  border: 1px solid transparent;
  color: #fff;
  text-align: center;
  margin: 0 5px;
  cursor: pointer;
}
button:hover {
  opacity: .7;
}